@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.container {
  background: rgba(170, 156, 156, 0.25);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  padding: 20px;
  gap: 15px;
  width: 500px;
  color: antiquewhite;
  display: flexbox;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
}

.typing-animation {
  /* padding-right: 5px; */
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #eceef1;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid transparent;
}

.header {
  display: flex;
  justify-content: space-between;
}

.name {
  padding: 20px;
  display: flexbox;
}

.actual {
  font-size: 20px;
  font-weight: 700;
}

.nickname {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  text-align: right;
}

.profile-img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-img img {
  display: block;
  width: 100%;
  height: auto;
}

/* .bio  {
  padding-top: 15px;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
} */

.description {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeline {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  position: relative;
}

li {
  margin-bottom: 50px;
  display: flex;
}

.node {
  width: 15px;
  height: 15px;
  background-color: #d8e0e6;
  border-radius: 50%;
  position: absolute;
  left: -1.5px;
  top: 10%;
  transform: translateY(-100%);
}

.content {
  /* background-color: #f1f1f1; */
  padding: 5px;
  border-radius: 5px;
  position: relative;
  margin-left: 50px;
}

.content h4 {
  margin: 0 0 5px;
}

.content p {
  margin: 0;
  font-size: 13px;
}

li::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #cbd8e0;
  left: 5px;
  top: 0;
}

.social {
  padding-top: 10px;
}

.others p {
  padding: 5px;
  font-size: 13px;
}


@media (max-width: 500px) {
  .container {
    width: 350px;
  }
  .typing-animation {
    font-size: 10px;
  }
}